In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Combining Datasets

First starting with Acquisition and Performance data

In [15]:
AcquisitionColumnNames = (
    "LOAN_ID", "ORIG_CHN", "Seller.Name", 
    "ORIG_RT", "ORIG_AMT", "ORIG_TRM", "ORIG_DTE",
    "FRST_DTE", "OLTV", "OCLTV", "NUM_BO", 
    "DTI", "CSCORE_B", "FTHB_FLG", "PURPOSE", 
    "PROP_TYP", "NUM_UNIT", "OCC_STAT", "STATE", "ZIP_3", 
    "MI_PCT", "Product.Type", "CSCORE_C", "MI_TYPE", 
    "RELOCATION_FLG"
)

PerformanceColumnNames = (
    "LOAN_ID", "Monthly.Rpt.Prd", "Servicer.Name", 
    "LAST_RT", "LAST_UPB", "Loan.Age", "Months.To.Legal.Mat", 
    "Adj.Month.To.Mat", "Maturity.Date", "MSA", 
    "Delq.Status", "MOD_FLAG", "Zero.Bal.Code", 
    "ZB_DTE", "LPI_DTE", "FCC_DTE","DISP_DT", 
    "FCC_COST", "PP_COST", "AR_COST", "IE_COST", 
    "TAX_COST", "NS_PROCS","CE_PROCS", "RMW_PROCS", 
    "O_PROCS", "NON_INT_UPB", "PRIN_FORG_UPB_FHFA", 
    "REPCH_FLAG", "PRIN_FORG_UPB_OTH", "TRANSFER_FLG"
)

In [16]:
# Data path will change depending on your system setup.

acquisition_data_path = "C:/Users/krish/Desktop/Preety/Acquisition_2010Q1.txt"

performance_data_path = "C:/Users/krish/Desktop/Preety/Performance_2010Q1.txt"

acquisition_df = pd.read_csv(
    acquisition_data_path,
    names=AcquisitionColumnNames,
    header=None,
    sep="|"
)

performance_df = pd.read_csv(
    performance_data_path,
    names=PerformanceColumnNames,
    header=None,
    sep="|"
)

C:\Users\krish\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Getting Initial Forclosure Data

In [17]:
FCC_DTE = performance_df['FCC_DTE'].notna()

forclosed = performance_df[FCC_DTE]

FORCLOSED = set(forclosed['LOAN_ID'])

def mapper(row):
    return row['LOAN_ID'] in FORCLOSED

acquisition_df['FCC'] = acquisition_df.apply(mapper, axis=1)

In [18]:
print(f"There are {len(FORCLOSED)} foreclosures!")

There are 93 foreclosures!

# Exploring Delq.Status

In [19]:
DELQ = performance_df['Delq.Status']
delq = set(DELQ)
print(delq)

{nan, '19', '22', '43', '10', '1', '26', '38', '63', '36', '15', '50', '45', '14', '2', '0', '49', '47', '3', '18', '21', '5', '40', 'X', '39', '42', '31', '35', '8', '9', '29', '12', '61', '58', '55', '64', '7', '23', '27', '62', '13', '32', '33', '65', '56', '59', '60', '11', '51', '48', '52', '4', '57', '28', '37', '54', '44', '20', '53', '17', '66', '6', '30', '25', '16', '41', '34', '24', '46'}

PART (a)

In [20]:
def delinqu_mapper(row):
    if row ['Monthly.Rpt.Prd']=="03/01/2014":
        return True
    return False

In [24]:
performance_df['correct_month']= performance_df.apply(delinqu_mapper, axis=1)
Monthly_Prd= performance_df[performance_df["correct_month"]]

In [25]:
Monthly_Prd

,LOAN_ID,Monthly.Rpt.Prd,Servicer.Name,LAST_RT,LAST_UPB,Loan.Age,Months.To.Legal.Mat,Adj.Month.To.Mat,Maturity.Date,MSA,...,CE_PROCS,RMW_PROCS,O_PROCS,NON_INT_UPB,PRIN_FORG_UPB_FHFA,REPCH_FLAG,PRIN_FORG_UPB_OTH,TRANSFER_FLG,"correct, month",correct_month
62,100013622306,03/01/2014,NaN,4.750,68259.31,50,130,129.0,01/2025,47300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
180,100022098429,03/01/2014,NaN,5.250,432083.23,49,311,311.0,02/2040,35620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
383,100032715932,03/01/2014,NaN,5.375,89716.43,51,309,308.0,12/2039,43340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
444,100033339771,03/01/2014,NaN,5.250,281467.05,48,312,312.0,03/2040,14260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
498,100036162795,03/01/2014,NaN,4.625,4872.09,50,130,4.0,01/2025,47900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
575,100040783841,03/01/2014,NaN,4.750,239547.32,49,311,311.0,02/2040,39340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
685,100044567305,03/01/2014,NaN,4.875,87435.60,49,311,284.0,02/2040,36780,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
763,100046088905,03/01/2014,NaN,4.750,259577.95,50,310,309.0,01/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
831,100049953168,03/01/2014,NaN,5.250,272893.09,49,311,309.0,02/2040,35620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1012,100056508170,03/01/2014,NaN,5.000,132091.84,49,311,311.0,02/2040,47900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1123,100056554242,03/01/2014,NaN,4.375,235293.39,50,130,130.0,01/2025,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1224,100057102292,03/01/2014,NaN,5.125,93828.20,49,191,189.0,02/2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1333,100061403984,03/01/2014,NaN,5.125,617866.42,49,311,311.0,02/2040,14860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1416,100064110478,03/01/2014,NaN,5.625,105948.73,47,313,242.0,04/2040,19100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1483,100064988434,03/01/2014,NaN,4.875,280044.97,49,311,311.0,02/2040,38060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1552,100067986742,03/01/2014,NaN,4.375,318949.47,49,311,309.0,02/2040,14500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1705,100080406480,03/01/2014,NaN,5.375,373113.46,49,311,307.0,02/2040,41620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1756,100080816876,03/01/2014,NaN,4.875,27533.76,49,191,189.0,02/2030,32820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1878,100091653134,03/01/2014,NaN,5.375,291503.48,50,310,308.0,01/2040,34060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
1988,100102705096,03/01/2014,NaN,5.400,247798.84,49,311,311.0,02/2040,16820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
2097,100106628052,03/01/2014,NaN,4.875,210966.93,49,311,311.0,02/2040,26420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
2147,100106720992,03/01/2014,NaN,4.500,118681.22,49,131,129.0,02/2025,16940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
2400,100115404605,03/01/2014,NaN,4.875,56009.33,49,311,311.0,02/2040,43340,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
2633,100123724633,03/01/2014,NaN,4.990,56928.19,50,310,310.0,01/2040,12060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
2781,100125687921,03/01/2014,NaN,5.250,175181.20,50,310,310.0,01/2040,31140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
2890,100128733361,03/01/2014,NaN,5.310,70512.92,49,311,295.0,02/2040,32820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
3028,100131470452,03/01/2014,NaN,4.875,188495.33,48,312,311.0,03/2040,31100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
3119,100140736549,03/01/2014,NaN,4.375,131693.47,50,130,130.0,01/2025,45300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
3250,100147536304,03/01/2014,NaN,4.875,375819.55,49,311,310.0,02/2040,41740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
3324,100148922070,03/01/2014,NaN,4.875,140006.79,49,311,303.0,02/2040,19820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996824,149008921649,03/01/2014,NaN,4.375,231371.22,49,131,130.0,02/2025,35620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
996927,149014097158,03/01/2014,NaN,4.750,236074.13,49,311,296.0,02/2040,39300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997000,149017940135,03/01/2014,NaN,4.375,23634.67,49,131,30.0,02/2025,12940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997057,149018477728,03/01/2014,NaN,5.250,115414.52,50,310,310.0,01/2040,18140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997146,149020310708,03/01/2014,NaN,4.875,163096.93,50,310,310.0,01/2040,33100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997292,149027541444,03/01/2014,NaN,5.000,68401.30,48,312,291.0,03/2040,19100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997384,149028349873,03/01/2014,NaN,4.750,208438.06,50,310,280.0,01/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997453,149031998678,03/01/2014,NaN,4.500,109935.92,50,130,124.0,01/2025,35620,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997563,149032075808,03/01/2014,NaN,5.000,240022.24,50,310,308.0,01/2040,39300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997632,149033095798,03/01/2014,NaN,4.875,451133.84,49,311,311.0,02/2040,41740,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997693,149036788984,03/01/2014,NaN,4.375,94658.72,49,131,131.0,02/2025,36540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997767,149038279720,03/01/2014,NaN,5.375,56229.87,49,311,310.0,02/2040,40140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997842,149038573413,03/01/2014,NaN,5.250,47865.95,49,311,300.0,02/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
997965,149061282820,03/01/2014,NaN,5.000,104805.39,51,309,297.0,12/2039,41180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
998058,149062046876,03/01/2014,NaN,4.875,198672.19,50,310,303.0,01/2040,12060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
998168,149066543812,03/01/2014,NaN,5.000,141825.99,50,310,310.0,01/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
998279,149073021946,03/01/2014,NaN,4.875,52584.01,50,190,190.0,01/2030,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
998572,149104482849,03/01/2014,NaN,4.625,116710.58,50,130,128.0,01/2025,16980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
998675,149105435514,03/01/2014,NaN,4.875,194598.15,50,310,310.0,01/2040,16980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
998817,149113864430,03/01/2014,NaN,4.250,114312.57,51,69,67.0,12/2019,45940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
998960,149132541599,03/01/2014,NaN,4.375,158429.51,50,130,119.0,01/2025,41940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999062,149138031580,03/01/2014,NaN,4.625,86636.88,50,130,130.0,01/2025,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999169,149142918034,03/01/2014,NaN,5.000,79893.10,49,311,280.0,02/2040,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999280,149142995044,03/01/2014,NaN,5.375,187513.47,49,311,311.0,02/2040,27140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999370,149145441898,03/01/2014,NaN,5.000,226482.78,50,310,282.0,01/2040,22520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999529,149162653642,03/01/2014,NaN,4.250,141524.03,50,130,103.0,01/2025,14860,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999630,149170823980,03/01/2014,NaN,5.000,190132.81,50,310,310.0,01/2040,19100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999693,149171575167,03/01/2014,NaN,4.875,97540.91,49,311,310.0,02/2040,25540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999802,149175953968,03/01/2014,NaN,5.500,68230.66,48,312,313.0,03/2040,16980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True
999953,149179972416,03/01/2014,NaN,5.250,132741.26,48,312,311.0,03/2040,40380,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,True,True

In [22]:
DEL_NOTNAN = performance_df["Delq.Status"].notna()
del_df = performance_df[DEL_NOTNAN]
print(f"There are {len(del_df.index)} Not NANS")

There are 999903 Not NANS

In [10]:
print(f"In Total: {len(performance_df.index)}")

In Total: 1000000

In [11]:
X = np.unique(del_df['Delq.Status'], return_counts=True)

In [12]:
Obj, Cnts = X

In [13]:
for obj, count in zip(Obj, Cnts):
    print(obj, count)

0 973170
1 6817
10 191
11 154
12 117
13 111
14 91
15 88
16 80
17 72
18 57
19 56
2 1575
20 46
21 44
22 46
23 37
24 30
25 30
26 29
27 29
28 30
29 24
3 712
30 25
31 19
32 16
33 14
34 13
35 13
36 11
37 13
38 10
39 12
4 483
40 9
41 10
42 9
43 8
44 7
45 7
46 7
47 7
48 7
49 7
5 403
50 7
51 6
52 12
53 6
54 6
55 3
56 2
57 2
58 2
59 1
6 356
60 1
61 1
62 1
63 1
64 1
65 2
66 2
7 283
8 258
9 198
X 14006